<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zane.wms.mapper.CustomerMapper">
    
    <resultMap type="Customer" id="CustomerResult">
        <result property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="customerNo" column="customer_no"/>
        <result property="customerName" column="customer_name"/>
        <result property="bankName" column="bank_name"/>
        <result property="bankAccount" column="bank_account"/>
        <result property="accountReceivable" column="account_receivable"/>
        <result property="address" column="address"/>
        <result property="mobile" column="mobile"/>
        <result property="tel" column="tel"/>
        <result property="contact" column="contact"/>
        <result property="level" column="level"/>
        <result property="email" column="email"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectCustomerVo">
        select id, create_by, create_time, update_by, update_time, customer_no, customer_name, bank_name, bank_account, account_receivable, address, mobile, tel, contact, level, email, del_flag, remark  from wms_base_customer
    </sql>

    <select id="selectByEntity" parameterType="Customer" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        <where>  
            <if test="customerNo != null  and customerNo != ''"> and customer_no = #{customerNo}</if>
            <if test="customerName != null  and customerName != ''"> and customer_name like concat('%', #{customerName}, '%')</if>
            <if test="bankName != null  and bankName != ''"> and bank_name like concat('%', #{bankName}, '%')</if>
            <if test="bankAccount != null  and bankAccount != ''"> and bank_account = #{bankAccount}</if>
            <if test="accountReceivable != null "> and account_receivable = #{accountReceivable}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="tel != null  and tel != ''"> and tel = #{tel}</if>
            <if test="contact != null  and contact != ''"> and contact = #{contact}</if>
            <if test="level != null  and level != ''"> and level = #{level}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update wms_base_customer set del_flag=1
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>
</mapper>
