<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zane.wms.mapper.InStockBillMapper">
    
    <resultMap type="InStockBill" id="InStockBillResult">
        <result property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="inStockBillNo" column="in_stock_bill_no"/>
        <result property="inStockType" column="in_stock_type"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="orderNo" column="order_no"/>
        <result property="payableAmount" column="payable_amount"/>
        <result property="inStockStatus" column="in_stock_status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectInStockBillVo">
        select id, create_by, create_time, update_by, update_time, in_stock_bill_no, in_stock_type, supplier_id, order_no, payable_amount, in_stock_status, del_flag, remark  from wms_in_stock_bill
    </sql>

    <select id="selectByEntity" parameterType="InStockBill" resultMap="InStockBillResult">
        <include refid="selectInStockBillVo"/>
        <where>  
            <if test="inStockBillNo != null  and inStockBillNo != ''"> and in_stock_bill_no = #{inStockBillNo}</if>
            <if test="inStockType != null "> and in_stock_type = #{inStockType}</if>
            <if test="supplierId != null "> and supplier_id = #{supplierId}</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="payableAmount != null "> and payable_amount = #{payableAmount}</if>
            <if test="inStockStatus != null "> and in_stock_status = #{inStockStatus}</if>
        </where>
    </select>

    <update id="updateDelFlagByIds">
        update wms_in_stock_bill set del_flag=1
        <where>
            id in <foreach collection="ids" open="(" item="it" close=")" separator=",">#{it}</foreach>
        </where>
    </update>
</mapper>
